<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<!-- <link rel="stylesheet" href="reset.css"> -->
	<link rel="stylesheet" href="../static/bootstrap.css">
	<link rel="stylesheet" href="../static/dashboard.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script>
	$(document).ready(function(){
		$(".choice").click(function() {
			$(this).find("i").removeClass("icon-check-empty").addClass("icon-check transition"); 
			// this should do an ajax call to check if the answer is correct. or something
			$(this).addClass("correct transition");
			$(".choice").unbind("click");
			$(".explanation").animate({opacity: 1});
		});
	});
	</script>
</head>
<body>	
	<div class="container">
		<div class="main">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Hi, John.</a>
				</div>
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Level 5</a></li>
						<li><a href="#">Points</a></li>
						<li><a href="#">Medals</a></li>
						<li><a href="#">Leaderboard</a></li>

						<li><a href="#">Options</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/logout">Logout</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</nav>
			<div class="content">
				<div class="quiz">
					<div class="question">
						What is the answer to this question?
					</div>
					<div class="options">
						<div class="choice">
							<i class="icon-check-empty icon-large"></i>
							<a>Potatos</a>

						</div>
						<div class="choice">
							<i class="icon-check-empty icon-large"></i>
							<a>Latkes</a>
						</div>
						<div class="choice">
							<i class="icon-check-empty icon-large"></i>
							<a>Everytime we touch</a>
						</div>
						<div class="choice">
							<i class="icon-check-empty icon-large"></i>
							<a>Cascada</a>	
						</div>
					</div>
					<div class="explanation">
						Correct! Cascada is cascading the style sheets.
						<div class="btn btn-success">Next</div>
					</div>
				</div>
			</div> 
		</body>
		</html>