<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<!-- <link rel="stylesheet" href="reset.css"> -->
	<link rel="stylesheet" href="../static/bootstrap.css">
	<link rel="stylesheet" href="../static/style.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="main">
			<div class="logo">
				<h1>Fighting Homelessness</h1>
			</div>
			<div class="content">
				<form action="/" action="get">
					<div class="row">
						<input type="text" placeholder="Username" class="form-control"/>
					</div>
					<div class="row">
						<input type="password" placeholder="Password" class="form-control" />
					</div>
					<div class="row submitButtons">
						<input type="submit" value="Login" class="btn btn-lg btn-success login" />
						<a data-toggle="modal" href="#registerModal" class="btn btn-lg btn-primary register">Register</a>
					</div>
				</form>
			</div>
			<div class="modal fade" id="registerModal" tab-index="-1" role="dialog">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title">Sign Up</h4>
			      </div>
			      <div class="modal-body">
			        <p></p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary">Save changes</button>
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
	</div>
</body>
</html>