<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<!-- <link rel="stylesheet" href="reset.css"> -->
	<link rel="stylesheet" href="../static/bootstrap.css">
	<link rel="stylesheet" href="../static/style.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="container">
		<div class="main">
			<div class="logo">
				<h1>Fighting Homelessness</h1>
			</div>
			<div class="content">
				<form action="/" action="get">
					<div class="row">
						<input type="text" placeholder="Username" class="form-control"/>
					</div>
					<div class="row">
						<input type="password" placeholder="Password" class="form-control" />
					</div>
					<div class="row submitButtons">
						<input type="submit" value="Login" class="btn btn-lg btn-success login" />
						<input type="submit" value="Register" class="btn btn-lg btn-primary register" />
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>