body { 
	background: url('../static/NYC-Skyline.jpg');
	font-family: 'Open Sans', sans-serif;
}

.container {
	width: 100%;
	height: 100%;
}
.main {
	display:block;
	margin-top:100px;
	width:400px;
	margin-left:auto;
	margin-right:auto;
	background: #ecf0f1;
	padding:30px;
}
.logo {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
h1 {
	font-size:30px;
	padding:10px;
}
.content {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	width:300px;
	
}
input {
	display:block;
}
.submitButtons {
	 margin-top:20px;
}
.login {
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
	margin-right:30px;
}
.register {
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
}
